*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.first-section {
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), 
url("assets/images/bg-banner.jpg");
background-size: cover;
background-position: center;

}
.nav-bar{

padding-top: 8px;
padding-left: 20px;
padding-right: 30px;
}
#logo{
    width: 200px;
    padding-left: 20px;   
}
#btn-main{
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 8%;
    background-color: #e50914;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    border: none;
}
.hero-main{

  padding-top: 170px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
}
 h2{
    font-size: 46px;
    font-family: 'Segoe UI';
    font-weight: 900px;
}
h6{
    font-size: 24px;
   
    font-weight: 300;
    padding-top: 10px;
}
p{
    font-size: 20px;
    font-weight: 300;
    padding-top: 10px;
}
input {
    margin-top: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 5px;
    padding-right: 150px;
    outline: none;
    border: 2px solid #3a3a3a ;
    
    color: white;
}

.hero-button button{
    padding: 10px 20px 16px 15px;
    text-transform: capitalize;
    background: #e50914;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    /* font-weight: 900px; */
}
hr{
    border: 4px solid #282828;

}
.second-section{
    display: flex;
    width: 100%;
    height: 500px;

}
.left-box{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 150px 0 0 40px;
}

.left-box h1{
    font-size: 54px;
    font-weight: 900px;

}
.left-box p{
    padding-right: 20px;
    font-size: 20px;
    font-weight: 500px;
}
.right-box img {
    width: 500px;
    padding-top: 70px;
    padding-right: 40px;
    
}
.third-section{
    width: 100%;
    height: 400px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 450px;
}
.third-left img{
    width: 500px;
    padding-left: 60px;
    padding-top: 50px;
}

.third-right{
    padding-top: 60px;
    padding-right: 60px;

}
.third-right h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900px;
    font-size: 54px;
}
.third-right p {
    font-family: 'Segoe UI';
    font-size: 24px;
    font-weight: normal;
}
.fourth-section {
    width: 100%;
    height: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 100px 0 0 130px;

}
.fourth-section h1{
    font-size: 44px;
    font-weight: 900;
}
.fourth-section p{
    font-size: 22px;
}
.section-fifth{
    width: 100%;
    height: 400px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fifth-left img{
    width: 500px;
    padding-top: 20px;
}
.fifth-right{
    padding: 100px 100px 0 0px;
}
.fifth-right h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 44px;
    font-weight: 900;
}
.fifth-right p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20x;
    font-weight: 400;
}
.last-section{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    width: 100%;
    height: 350px;;
    padding-left: 30px;
    padding-right: 180px;
    padding-top: 50px;
    text-decoration: none;
    color: #ffffff;
    justify-content: space-between;
}
#faq{
    font-size: 18px;
}
li{
    list-style: none;
    padding-top: 14px;
    font-weight: 400;
}
.box1 ul li a{
    color: #afafa7;
    text-decoration: none;
    font-size: 14px;
    text-decoration: underline;
    list-style: none;
}

.box2 ul li a{
    color: #afafa7;
    text-decoration: none;
    padding-top: 10px;
    font-size: 14px;
    text-decoration: underline;
   
}
.box3 ul li a{
    color:  #afafa7;
    text-decoration: underline;
    padding-top: 10px;
    font-size: 14px;
    text-decoration: underline;
    list-style: none;
}
h5{
    font-size: 54px;
    color:  #afafa7;
    font-size: 14px;
    text-decoration: underline;
    list-style: none;
}
.footer{
    margin-block-end: 40px;
}
.footer button {
    padding: 6px 20px 6px 20px;
    margin-left: 30px;
    font-size: 14px;
    background-color: rgba(0,0,0,0.6);
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 2px;
    margin-block-end: 4px;
    cursor: pointer;
    font-weight: bold;
}
.footer p{
    color:  #afafa7;
    padding-left: 30px;
    font-size: 16px;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 50px;
    color:#afafa7;
   
    
}
h4 a {
    text-decoration: none;
    color: #e50914;
}

.accordion-section{
    background-color: black;
    padding-top: 100px;
    width: 100%;
    padding-bottom: 100px;
}

h2{
    color: #ffffff;
    text-align: center;
    font-size: 34px;
}

.mail-box{
    text-align: center;
    width: 100%;
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    
}
.mail-box form input {
    background-color: rgba(24, 23, 23, 0.6);
    border: 3px solid #217e50;
    border-radius: 4px;
    padding: 24px 200px 20px 6px;
}
.mail-box form button{
    padding: 20px 25px 18px 25px;
    font-size: 22px;
    margin-left: 2px;
    border-radius: 8px;
    background-color: #e50914;
    color: #ffffff;
    font-weight: 600;
    
}
.mail-box p {
    font-weight: 400;
}